/* favicon image link
https://user-images.githubusercontent.com/104681010/173462816-33c02b24-f6a9-4dbe-bd7e-61d5c2acadca.png
*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(https://user-images.githubusercontent.com/104681010/173672929-ce8386e1-ce6b-46b3-9898-670b21fe8c1f.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    max-width: 100%;
}
main{
    /*width: 50%;
    margin: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.left-content{
    color: white;
    font-family: Poppins;
    padding: 2em;
    width: 30%;
}
.left-content h1{
    font-size: 3em;
    font-weight:700;
}
.right-content{
    padding: 2em;
    width: 40%;
}
#mainh3{
    background-color: hsl(248, 32%, 49%) ;
    color: #fff;
    border-radius: 10px;
    height: 55px;
    text-align: center;
    padding-top: 15px;
    box-shadow:0 7px #0000002f;
    
}

fieldset{
    background-color: white;
    border-radius: 10px;
    width: 450px;
    height: 450px;
    box-shadow:0 7px #0000002f;
    max-width: 100%;
}
form{
    padding: 20px;
}
input{
    margin:10px 10px 10px 20px;
    padding:17px;
    width: 380px;
    border-radius: 5px;
    border: 2px solid #8888886f;
}
input:hover{
    border-radius: 5px;
    border: 2px solid #888888;
}   
input:active{
    border-radius: 5px;
    border: 2px solid #2222ff
}
input:required:invalid{
    background: url(https://user-images.githubusercontent.com/104681010/174121414-518ed893-c34d-491f-8bba-62cec84f6d46.svg) no-repeat right;
    background-size: 20px;
    outline: none;
    border: none;
    border: 1px solid hsl(0, 100%, 74%);
    background-origin: content-box;
  }
  input:invalid+span {
    display: inline;
    color: hsl(0, 100%, 74%);
    float: right;
    font-size: 10px;
  }
  input:invalid {
    outline: none;
    border: none;
    border: 1px solid hsl(154, 59% 31%);
  }
span{
    font-style: italic;
    position: relative;
    right: 20px;


}
input::placeholder{
    color: #888888;
    font-size: 12px;
    font-weight: 600;
    font-family: Poppins;

}
button{
    margin:10px 10px 10px 20px;
    padding: 17px;
    width: 380px;
    color: white;
    background-color: hsl(154, 59%, 51%);
    border-style: none;
    border-radius: 5px;
    box-shadow:0 2px #0000002f;
}
.TnC{
    font-size: 10px;
    color: #8888886f; 
    text-align: center;
}
a{
    text-decoration: none;
    color: red;
    
}
@media screen and (max-width:375px) {
    
}


